@tailwind base;
@tailwind components;
@tailwind utilities;


.projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 35px;
    height: 97%;
    margin-top: 75px;
}


.projects {
    float: left;
}



.navigation {

    width: 400px;
    border-radius: 7px;
    border: #efe8e5dc 2px solid;
    opacity: 0.93;
    color: #efe8e5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    height: 33%;
    box-shadow: 5px 5px 5px #efe8e58e;
}


.projectHeader {
    text-align: left;
    font-size: 90px
}